*{
    margin: 0;
    padding: 0;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5fd7a7b9;
}

header {
    background-color: #09a89b;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 2%;
}


